RewriteEngine On
RewriteRule	^templates/(.*)$ - [NC,L]
RewriteRule	^lib/.*	- [NC,L]
RewriteRule	^installer/.* - [NC,L]
RewriteRule	^datastore/.* - [NC,L]
RewriteRule	^log/.* - [NC,L]
RewriteRule	^logs/.* - [NC,L]
RewriteRule	^phpma/.* - [NC,L]
RewriteRule	^deepwinter/.* - [NC,L]
RewriteRule	^moodle/.* - [NC,L]
RewriteRule	(.*)	index.php?id=$1  [QSA,L]
